# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 * Paython
 * HTML
 * JAVA

Some of the popular languages that Data Scientists use are:

1. Paython
2. java
3. HTML
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.

| Data Science Tools |
| ------------ |
| Pandas | 
| Seaborn |
| Matplotlib |

### Below are a few examples of evaluating arithmetic expressions in Python

 
 $ x^2 + y^2 = z^2 $

$ X^2 = c $

 #### This a simple arithmetic expression to mutiply then add integers.

In [6]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60.

In [22]:

 Minutes = 200 
 Minutes = Hours * 60
 Hours = Minutes / 60
 print (Hours)

3.3333333333333335

## Author

Ahmad Meesaq Payman